<section class="page-accueil">
    <div class="page-accueil__container">
        <div class="title">
            <h2 class="title--size">Bienvenue sur TEZEA CHANTIER</h2>
        </div>
        <figure class="logo-container">
            <img src="https://www.economiecirculaire.org/data/sources/users/12433/20211012100956-logo-tezea-coul-2.jpg" alt="tezea logo" class="logo-container__logo" />
        </figure>

        <div class="btn-container">
            <div class="btn__left">
                <p class="text">Accéder au portail web.</p>
                <a class="btn" routerLink="connexion">Portail web</a>
            </div>
            <div class="btn__right">
                <p class="text">Télécharger l'application mobile.</p>
                <a class="btn" href="http://5.196.8.112/app.apk">Télécharger l'application</a
        >
      </div>
    </div>
  </div>
</section>